ch01/04-form/login-form
ch01/05-condition/images
ch01/06-loop/images
ch02/04-number/06/images
ch06/01-phpthumb/library
ch06/02-phpmailer/library
ch06/04-captcha/02-class/securimage
ch06/05-simplepie/library