* {
    margin: 0;
    padding: 0;
}

.content {
    margin: 20px auto;
    width: 600px;
    border: 1px solid #ccc;
    text-align: center;
}

.content p {
    margin: 20px auto;
    font-size: 18px;
}

.content p input[type="text"] {
    padding: 3px 5px;
}

.content h1 {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

.content div.row {
    margin-bottom: 10px;
}

.content div.row span {
    display: inline-block;
    width: 100px;
}

.content div.row select{
    width: 100px;
}

.content div.row input[type=submit] {
    padding: 2px 10px;
}